@{
  Layout = "_Layout";
}

@using Treats.Models

<div id="title">
  <img id="title-img" src="https://see.fontimg.com/api/renderfont4/8Mymn/eyJyIjoiZnMiLCJoIjo1NCwidyI6MTAwMCwiZnMiOjU0LCJmZ2MiOiIjQzc3NUE2IiwiYmdjIjoiI0ZGRkZGRiIsInQiOjF9/UGllcnJlJ3MgU3dlZXRzIGFuZCBUcmVhdHM/sweet-peas.png" alt="Heading fonts: Pierre's Sweets and Treats">
  <br><br>
  <h2>Welcome @ViewBag.Nickname</h2>
</div>

@if (User.Identity.IsAuthenticated)
{
  <h4>Sweets & Treats</h4>
  @if (@ViewBag.TreatList.Count == 0)
  {
    <h5>No treats have been added to your list!</h5>
  }
  @foreach (Treat treat in @ViewBag.TreatList)
  {
    <h5>@Html.ActionLink(@treat.Name, "Details", "Treats", new { id = @treat.TreatId })</h5>
  }
  <br>
  <h4>Flavor Profiles</h4>
  @if (@ViewBag.FlavorList.Count == 0)
  {
    <h5>No flavors have been added to your list!</h5>
  }
  @foreach (Flavor flavor in @ViewBag.FlavorList)
  {
    <h5>@Html.ActionLink(@flavor.Description, "Details", "Flavors", new { id = @flavor.FlavorId })</h5>
  }
  <br>
  <p>@Html.ActionLink("Add New Treat", "Create", "Treats")</p>
  <p>@Html.ActionLink("Add New Flavor", "Create", "Flavors")</p>
}
else
{
  <div id="title">
    <div id="page-content">
      <h5>You must @Html.ActionLink("create an account", "Register", "Account") or @Html.ActionLink("login", "LogIn", "Account") to manage your treats and flavors</h5>
      <p>You may still view all @Html.ActionLink("treats", "Index", "Treats") or @Html.ActionLink("flavors", "Index", "Flavors")</p>
    </div>
  </div>
}