@{
  Layout = "_Layout";
}

@using Treats.Models

<h1>Welcome</h1>
@if (User.Identity.IsAuthenticated)
{
  <h2>@ViewBag.Nickname's Treats and Sweets</h2>
  @if (@ViewBag.TreatList.Count == 0)
  {
    <h4>No treats have been added to your list!</h4>
  }
  @foreach (Treat treat in @ViewBag.TreatList)
  {
    <h3>@Html.ActionLink(@treat.Name, "Details", "Treats", new { id = @treat.TreatId })</h3>
  }
  <br>
  <h2>Saved Flavors</h2>
  @if (@ViewBag.FlavorList.Count == 0)
  {
    <h4>No flavors have been added to your list!</h4>
  }
  @foreach (Flavor flavor in @ViewBag.FlavorList)
  {
    <h3>@Html.ActionLink(@flavor.Description, "Details", "Flavors", new { id = @flavor.FlavorId })</h3>
  }
}
else
{
  <h4>You must @Html.ActionLink("login", "LogIn", "Account") to view or manage your treats</h4>
}