@{
  Layout = "_Layout";
}

@using Treats.ViewModels;
@model RegisterViewModel

<div id="page-content">
  <h2>Create a new account</h2>
  <hr>

  @if (!ViewData.ModelState.IsValid)
  {
    <span id="accent">@Html.ValidationSummary("Please fix the following error(s) and resubmit:")</span>
  }

  @using (Html.BeginForm("Register", "Account", FormMethod.Post))
  {
    @Html.Label("Nickname ")
    @Html.TextBoxFor(model => model.Nickname)
    <br><br>
    @Html.Label("Username ")
    @Html.TextBoxFor(model => model.UserName)
    <br><br>
    @Html.Label("Email ")
    @Html.TextBoxFor(model => model.Email)
    <br><br>
    @Html.Label("Password ")
    @Html.EditorFor(model => model.Password)
    <br><br>
    <span id="accent">@Html.Label("Confirm Password ")</span>
    @Html.EditorFor(model => model.ConfirmPassword)
    <br><br>
    <input type="submit" value="Create account" id="blue-btn">
  }
  <br>
  <h5>@Html.ActionLink("Cancel", "Index", "Home")</h5>
</div>