@{
  Layout = "_Layout";
}

@using Treats.Models;

@if (User.Identity.IsAuthenticated)
{
  <h2>@ViewBag.Nickname's Saved Treats</h2>
  @if (Model.Count == 0)
  {
    <h5>No treats have been saved yet!</h5>
    <p>@Html.ActionLink("Add a New Treat", "Create")</p>
  }
  else
  {
    <ul>
      @foreach (Treat treat in Model)
      {
        <li><h5>@Html.ActionLink($"{treat.Name}", "Details", new { id = treat.TreatId })</h5></li>
        <ul>
            @if (treat.Join.Count == 0)
            {
              <p>No flavors have been added to this treat yet</p>
            }
            else
            {
              @foreach (TreatFlavor join in treat.Join)
              {
                <li>@Html.ActionLink($"{join.Flavor.Description}", "Details", "Flavors", new { id = join.Flavor.FlavorId })</li>
              }
            }
        </ul>
      }
    </ul>
    <p>@Html.ActionLink("Add a New Treat", "Create")</p>
  }
  @using (Html.BeginForm())
  {
    <input type="button" value="See All Treats" onclick="showTreatList()" id="see-treats-button">
  }
  <br>
  <div id="treat-list" class="hidden">
    <h2>All Available Treats</h2>
    @if (@ViewBag.AllTreats.Count == 0)
    {
      <h5>No treats have been added yet!</h5>
    }
    else
    {
      <ul>
        @foreach (Treat treat in @ViewBag.AllTreats)
        {
          <li><h5>@Html.ActionLink($"{treat.Name}", "Details", new { id = treat.TreatId })</h5></li>
          <ul>
            @if (treat.Join.Count == 0)
            {
              <p>No flavors have been added to this treat yet</p>
            }
            else
            {
              @foreach (TreatFlavor join in treat.Join)
              {
                <li>@Html.ActionLink($"{join.Flavor.Description}", "Details", "Flavors", new { id = join.Flavor.FlavorId })</li>
              }
            }
          </ul>
        }
      </ul>
    }
    @using (Html.BeginForm())
    {
      <input type="button" value="Hide All Treats" onclick="hideTreatList()">
    }
  </div>
}
else
{
  <h2>All Available Treats</h2>
  @if (Model.Count == 0)
  {
    <h5>No treats have been added yet!</h5>
  }
  else
  {
    <ul>
      @foreach (Treat treat in Model)
      {
        <li><h5>@Html.ActionLink($"{treat.Name}", "Details", new { id = treat.TreatId })</h5></li>
        <ul>
            @if (treat.Join.Count == 0)
            {
              <p>No flavors have been added to this treat yet</p>
            }
            else
            {
              @foreach (TreatFlavor join in treat.Join)
              {
                <li>@Html.ActionLink($"{join.Flavor.Description}", "Details", "Flavors", new { id = join.Flavor.FlavorId })</li>
              }
            }
        </ul>
      }
    </ul>
  }
}