@{
  Layout = "_Layout";
}

@model Treats.Models.Flavor

<div id="page-content">
  <h2>Add a treat to <span id="accent">@Model.Description</span></h2>
  <br>
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.FlavorId)

    @Html.Label("Select treat")
    <br>
    @Html.DropDownList("TreatId")
    <br><br>
    <input type="submit" value="Add" id="blue-btn">
  }
  <br>
  <h5>@Html.ActionLink("Cancel", "Index")</h5>
</div>