@{
  Layout = "_Layout";
}

@using Treats.Models;
@model Treats.Models.Flavor

@if (User.Identity.IsAuthenticated)
{
  <h2>Treats labeled @Model.Description</h2>
  @if (Model.Join.Count == 0)
  {
    <p>This flavor profile hasn't been added to any treats yet</p>
  }
  else
  {
    <ul>
    @foreach (TreatFlavor join in Model.Join)
    {
      <li>
        <h5>@Html.ActionLink(join.Treat.Name, "Details", "Treats", new { id = join.TreatId })</h5>
        @using (Html.BeginForm("DeleteJoin", "Flavors", new { joinId = join.TreatFlavorId }))
        {
          <input type="submit" value="Remove">
          <br><br>
        }
      </li>
    }
    </ul>
  }

  <div id="flavor-edit-modal" class="modal obscured">
    <div class="modal-message">
      <p>Edit Flavor Details</p>
    </div>

    @using (Html.BeginForm("Edit", "Flavors", new { id = Model.FlavorId }))
    {
      @Html.HiddenFor(model => model.FlavorId)

      @Html.LabelFor(model => model.Description)
      <br>
      @Html.TextBoxFor(model => model.Description)
      <br><br>
      <input type="submit" value="Update Flavor">
      <br><br>
      <button type="button" onclick="hideModal('flavor-edit')">Cancel</button>
    }
  </div>

  <div id="flavor-delete-modal" class="modal obscured">
    @using (Html.BeginForm("Delete", "Flavors", new { id = Model.FlavorId }))
    {
      @Html.HiddenFor(model => model.FlavorId)

      <p>Are you sure you want to delete @Html.DisplayFor(model => model.Description)?</p>
      <br>
      <input type="submit" value="Delete @Model.Description">
      <br><br>
      <button type="button" onclick="hideModal('flavor-delete')">Cancel</button>
    }
  </div>

  @using (Html.BeginForm())
  {
    <input type="button" onclick="showModal('flavor-edit')" value="Edit Flavor">
  }

  @using (Html.BeginForm())
  {
    <input type="button" onclick="showModal('flavor-delete')" value="Delete Flavor">
  }
  <br>
  <p>@Html.ActionLink($"Add treats to {Model.Description}", "AddTreat", new { id = Model.FlavorId })</p>
}
else
{
  <h2>Treats labeled @Model.Description</h2>
  @if (Model.Join.Count == 0)
  {
    <p>This flavor profile hasn't been added to any treats yet</p>
  }
  else
  {
    <ul>
    @foreach (TreatFlavor join in Model.Join)
    {
      <li><h5>@Html.ActionLink(join.Treat.Name, "Details", "Treats", new { id = join.TreatId })</h5></li>
    }
    </ul>
  }
}
<p>@Html.ActionLink("Back to List", "Index")</p>